#gameText {
  background-color: white;
  min-height: 150px;
}


#gameBoard {
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}


canvas {
  border: 2px solid black;
}