body {
  margin: 0;
  padding: 0;
}

#gameText {
  background-color: white;
  min-height: 150px;
}


#gameBoard {
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}


canvas {
  border: 2px solid black;
}

#init {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}