@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
  font-family: 'Poppins';
}

body {
  background-color: pink;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.fa {
  font-size: 40px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-shadow: 2px 2px 2px white;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .fa {
  font-size: 16px;
  color: red;
}

nav {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}


#about  div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about div:last-child {
  padding: 0px 15vw;
}

#play {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#play a {
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 8px;
  transition: all 3s;
  border: 2px solid black;
  box-shadow: 1px 1px black;
}

#play a:hover {
  cursor: pointer;
  transition: all 3s;
  background-color: white;
  box-shadow: 3px 5px black;
}

#about div:first-child h1 {
  display: inline-block;
  max-width: 500px;

}

#about div:first-child img {
  height: 300px;
  width: auto;
}

#info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  text-align: center;
}

#letsGo {
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 8px;
  transition: all 3s;
  border: 2px solid black;
  box-shadow: 1px 1px black;
  margin: 10px;
}

#letsGo:hover{
  cursor: pointer;
  transition: all 3s;
  background-color: white;
  box-shadow: 3px 5px black;
}



#gender,
#name {
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 8px;
  transition: all 3s;
  border: 2px solid black;
  box-shadow: 1px 1px black;
  margin: 20px;
}
input {
  margin-right: 20px;
}
label {
  font-size: 20px;
  font-weight: bold;
}

#aboutthedev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content {
  width: 60vw;
}

/*Media Queries*/
@media only screen and (max-width: 900px) {
  main {
    padding: 0;
  }
  header {
    flex-direction: column;
    background-color: white;
    width: 100%;
  }
  nav {
    width: 100%;
    padding-bottom: 20px;
  }
  #about  div:first-child {
    flex-direction: column;
    padding: 25px 50px;
  }
  #playerInfo {
    display: flex;
    flex-direction: column;
  }
}