body {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  border: 2px solid black;
  background-color: white;
}


main {
  display: none;
  height: 750px;
  width: 800px;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#init {
  padding: 100px 50px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


#gameHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#gameBoard {
  height: 600px;
  width: 800px;
}

.buttons {
  align-self: center;
}

.buttons button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 5px 10px;
  border-radius: 8px;
  transition: all 1s;
  border: 2px solid black;
  box-shadow: 1px 1px black;
}

.buttons button:hover {
  cursor: pointer;
  transition: all 1s;
  background-color: white;
  box-shadow: 3px 5px black;
}
